body{
  color: wheat;
  background-color: #14141d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea{
  width: 340px;
  height: 255px;
  color: white;
  font-size: 16px;
  background-color: #11141d;
  border: 2px grey solid;
  border-radius: 10px;
}

.status-input{
  width: 50px;
}

.nome{
  width: 180px;
}