@font-face {
  font-family: Land;
  src: url(./fonts/Land.otf);
}
#dnd{
  width: 11vw;
  position: absolute;
  top: 1vw;
  left: 1vw;
}
body{
  color: wheat;
  background-color: #2d2d43;
  font-family: Land;
}

textarea{
  resize: none;
}

#texto-personagem-status{
  width: 370px;
  height: 385px;
  color: black;
  font-family: Land;
  font-size: 18px;
  background-color: transparent;
  border: 2px grey solid;
  border-radius: 10px;
  position: absolute;
  top: 12%;
  left: 4%;
  border: 0;
}
.status-personagem{
display: none;
}

.status-input{
  width: 50px;
}

label#eraça{
  position: absolute;
  top: 11.5vw;
  left: 0.5%;
  font: 1vw;
}

label#nOme{
  position: absolute;
  top: 9.4vw;
  left: 0.5%;
  font: 1vw;
}

input[type="radio" i] {
  background-color: initial;
  cursor:pointer;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}

#escolhaDaHistoria1{
  position: absolute;
  inset: 353px 3px;
}

#oQueFazerAgoraOpcao1{
  position: absolute;
  inset: 351px 28px;
}

#escolhaDaHistoria2{
  position: absolute;
  inset: 383px 3px;
}

#oQueFazerAgoraOpcao2{
  position: absolute;
  inset: 381px 28px;
}

#escolhaDaHistoria3{
  position: absolute;
  inset: 413px 3px;
}

#oQueFazerAgoraOpcao3{
  position: absolute;
  inset: 411px 28px;
}

#escolhaDaHistoria4{
  position: absolute;
  inset: 443px 3px;
}

#oQueFazerAgoraOpcao4{
  position: absolute;
  inset: 441px 28px;
}

#escolhaDaHistoria5{
  position: absolute;
  inset: 473px 3px;
}

#oQueFazerAgoraOpcao5{
  position: absolute;
  inset: 471px 28px;
}

#escolhaDaHistoria6{
  position: absolute;
  inset: 503px 3px;
}

#oQueFazerAgoraOpcao6{
  position: absolute;
  inset: 501px 28px;
}

#criacao-personagem{
  color: rgb(0, 0, 0);
  background-image: url(./imagens/criador_de_personagem.jpg);
  background-size: 100vw;
  padding: 0.5vw;
  border-radius: 7px;
  border-radius: 1vw;
  font-size: 24px;
  font-size: 1vw;
  position: absolute;
  top: 5vw;
  bottom: 1vw;
  left: 1vw;
  right: 1vw;
  font-size: 1.7vw;
}

#titulo{
  color: rgb(28, 21, 0);
  position: absolute;
  top: -1vw;
  font-size: 5vw;
  left: 1vw;
}

#primeiro-formulario select#raça{
  color: black;
  background-color: transparent;
  border-style: none;
  font-family: Land;
  font-size: 24px;
  font-size: 1.7vw;
  position: absolute;
  top: 11.55vw;
  left: 5vw;
}

#primeiro-formulario input#nome{
  color: black;
  background-color: transparent;
  border-style: none;
  font-family: Land;
  font-size: 24px;
  font-size: 1.7vw;
  position: absolute;
  top: 9.4vw;
  left: 5vw;
  outline: 0;
}

#primeiro-formulario input#nome:hover{
  border-style: none;
  outline: 0;
  text-decoration: underline;
}

#primeiro-formulario #eclasse{
  color: rgb(0, 0, 0);
  border-style: none;
  font-family: Land;
  font-size: 24px;
  font-size: 1.7vw;
  position: absolute;
  top: 13.4vw;
  left: 0.5vw;
}

#primeiro-formulario select#classe{
  color: black;
  background-color: transparent;
  border-style: none;
  font-family: Land;
  font-size: 24px;
  font-size: 1.7vw;
  position: absolute;
  top: 13.4vw;
  left: 5vw;
}


#primeiro-formulario option{
  color: black;
  border-style: none;
  background-color: transparent;
}

#status-personagem{
  position: absolute;
  top: 16vw;
  left: 0.6vw;
}

#Status{
  font-size: 3vw;
  position: absolute;
  left: 1vw;
}

#status-personagem #forçalbl{
  position: absolute;
  font-size: 2.3vw;
  top: 3.5vw;
  left: 0;
}

#status-personagem #destrezalbl{
  position: absolute;
  font-size: 2.3vw;
  top: 5.7vw;
  left: 0;
}

#status-personagem #constituicaolbl{
  position: absolute;
  font-size: 2.3vw;
  top: 7.9vw;
  left: 0;
}

#status-personagem #inteligencialbl{
  position: absolute;
  font-size: 2.3vw;
  top: 10.1vw;
  left: 0;
}

#status-personagem #sabedorialbl{
  position: absolute;
  font-size: 2.3vw;
  top: 12.3vw;
  left: 0;
}

#status-personagem #carismalbl{
  position: absolute;
  font-size: 2.3vw;
  top: 14.5vw;
  left: 0;
}

#status-personagem #ptotallbl{
  position: absolute;
  font-size: 2.3vw;
  top: 16.7vw;
  left: 0;
}

#status-personagem #pvlbl{
  position: absolute;
  font-size: 2.3vw;
  top: 18.9vw;
  left: 0;
}

#status-personagem input{
  background-color: transparent;
  font-family: Land;
  border: 0;
  text-align: right;
}

#status-personagem input:hover{
  color: red;
  cursor: default;
}

#status-personagem input:focus{
  color: red;
  cursor: default;
  outline: 0;
}

#status-personagem #força{
  position: absolute;
  top: 3.5vw;
  left: 6.7vw;
  font-size: 2.3vw;
  width: 4vw;
  height: 2.8vw;
}


#status-personagem #destreza{
  position: absolute;
  top: 5.7vw;
  left: 6.7vw;
  font-size: 2.3vw;
  width: 4vw;
  height: 2.8vw;
}

#status-personagem #contituicao{
  position: absolute;
  top: 7.9vw;
  font-size: 2.3vw;
  left: 6.7vw;
  width: 4vw;
  height: 2.8vw;
}

#status-personagem #inteligencia{
  position: absolute;
  top: 10.1vw;
  left: 6.7vw;
  font-size: 2.3vw;
  width: 4vw;
  height: 2.8vw;
}

#status-personagem #sabedoria{
  position: absolute;
  top: 12.3vw;
  left: 6.7vw;
  font-size: 2.3vw;
  width: 4vw;
  height: 2.8vw;
}

#status-personagem #carisma{
  position: absolute;
  top: 14.5vw;
  left: 6.7vw;
  font-size: 2.3vw;
  width: 4vw;
  height: 2.8vw;
}

#status-personagem #pontos{
  position: absolute;
  top: 16.7vw;
  left: 6.7vw;
  font-size: 2.3vw;
  width: 4vw;
  height: 2.8vw;
}

#status-personagem #ponto-de-vida{
  position: absolute;
  top: 18.9vw;
  left: 6.7vw;
  font-size: 2.3vw;
  width: 4vw;
  height: 2.8vw;
}

#descriçãoRaça{
  position: absolute;
  top: 10%;
  left: 49.5vw;
  right: 0vw;
  bottom: 0vw;
  width: 43.5vw;
  height: 16.5vw;
  font-family: Land;
  font-size: 1.78vw;
  background-color: transparent;
  color: black;
  outline: none;
  border: none;
}

#descriçãoClasse{
  position: absolute;
  top: 65%;
  left: 49.5vw;
  width: 43.5vw;
  height: 29%;
  font-family: Land;
  font-size: 20px;
  font-size: 1.78vw;
  background-color: transparent;
  color: black;
  outline: none;
  border: none;
}

#tituloRaça{
  position: absolute;
  top: 1vw;
  left: 49.8vw;
  right: 0vw;
  bottom: 0vw;
  font-size: 40px;
  font-size: 3.38vw;
  font-weight: bolder;
  text-decoration: underline;
}

#tituloClasse{
  position: absolute;
  top: 23.5vw;
  left: 49.8vw;
  font-size: 40px;
  font-size: 3.38vw;
  font-weight: bolder;
  text-decoration: underline;
}

#erro-segundo-formulario{
  position: absolute;
  top: 39.2vw;
  left: 20vw;
  color: red;
}

#botao-randomizar{
  position: absolute;
  top: 0.6vw;
  left: 10vw;
  font-family: Land;
  background: transparent;
  border: 0;
  width: 13.2vw;
  font-size: 2.1vw;
  cursor: pointer;
}

#botao-proximo-formulario{
  position: absolute;
  top: 22vw;
  left: 2.5vw;
  background-color: transparent;
  border: none;
  font-family: Land;
  font-size: 2.5vw;
  cursor: pointer;
}

#bardoicon, #druidaicon, #warlockicon, #warrioricon, #monkicon, #paladicon, #rogueicon, #huntericon{
  position: absolute;
  top: 24vw;
  right: 48vw;
  width: 6vw;
  display:none;
}

#biografia{
  position: absolute;
  top: 23%;
  left: 20%;
  background-color: transparent;
  font-family: Land;
  color: black;
  border: none;
  font-size: 18px;
  height: 70%;
}

#PersonagemAleatorio{
  position: absolute;
  top: 1vw;
  left: 20vw;
  font-size: 1vw;
  width: 10vw;
}

#NomeAleatorio{
  position: absolute;
  left: 35%;
  
}

